.detailsMainBox{
    outline: 3px solid green;
    margin: auto;
    margin-top: -41%;
    margin-left: 30%;
    height: 50vh;
    width: 50%;
}

table, th, td {
 border: 1px solid black;
}

th {
    padding: 5px;
}
td {
    padding: 2px 5px
}

.detailsHeadBox {
    /* outline: 1px solid red; */
    background-color: green;
    color: white;
    padding-left: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: large;

}

.Details .topSpan
{
border-top: 1px solid black;
}

.Details .bottomSpan
{
border-top: 1px solid black;
}


.Details{
    margin: 20px;
}


.detailsName
{
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
}

.wrapper .view-container{
    width: 600px;    
    background-color: #e4e4e4;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.delete-btn{
    color: red;
    cursor: pointer;
}

tbody{
    margin-top: 25px;
}

/* 
.table th{
    display: flex;
    justify-content: space-between;
    }



.table tr{
outline: 1px solid navy;
display: flex;
justify-content: space-between;
}


.table tr td{
    outline: 1px solid rebeccapurple;
    margin: 2px;
    gap: 4px;
} */