* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.userItem label {
  /* outline: 1px solid red; */
  margin: 14px;
  color: rgb(105, 103, 103);
}

.userItemIcon {
  /* outline: 1px solid navy; */
  color: rgb(105, 103, 103);
}

.userItem {
  padding: 15px;
  display: flex;
  align-items: center;
}

.userItem:hover {
  background-color: rgb(174, 167, 167);
  color: white;
  cursor: pointer;
}

.userItem:hover > .userItemIcon {
  color: whitesmoke;
}

.userItem:hover > label {
  color: white;
}

.userItem.selected {
  background-color: rgb(7, 166, 219);
  color: white;
}

.userItem.selected > label {
  color: white;
  font-weight: bold;
}

.userItem.selected > .userItemIcon {
  color: white;
}
