.mainBox {
  outline: 3px solid green;
  margin: auto;
  margin-top: -41%;
  margin-left: 30%;
  height: 50vh;
  width: 50%;
}

.headBox {
  /* outline: 1px solid red; */
  background-color: green;
  color: white;
  padding-left: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: large;
}

.inputAddBox {
  /* outline: 1px solid red; */
  height: 40vh;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: large;
}

.inputAddBox input {
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  font-size: larger;
  margin-top: 10px;
}

.inputAddBox label {
  font-size: large;
  font-weight: bold;
}

.Addbtn {
  /* outline: 1px solid green; */
  margin: -25px 0px 0px 30px;
}

.Addbtn button {
  border: none;
  background-color: green;
  color: white;
  width: 600px;
  height: 30px;
  cursor: pointer;
  font-size: large;
}
