.usersLogoutBox {
  outline: 3px solid rgb(20, 157, 203);
  margin: auto;
  margin-top: -41%;
  margin-left: 40%;
  height: 20vh;
  width: 30%;
}

.usersLogoutBox p {
  background-color: rgb(20, 157, 203);
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.userLogoutBtn {
  /* outline: 1px solid green; */
  margin: 50px 0px 0px 80px;
}

.userLogoutBtn button {
  border: none;
  background-color: rgb(20, 157, 203);
  color: white;
  width: 150px;
  height: 30px;
  cursor: pointer;
  margin-left: 70px;
  font-size: large;
}
